.map-container {
  text-align: center;
  padding: 20px;
}

.map {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 10px;
  justify-items: center;
}

.room-map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.room {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
}

.room h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.room p {
  margin: 5px 0;
}


.available {
  background-color: lightgreen;
}

.unavailable {
  background-color: lightcoral;
}
